html,
body {
  height: 100%;
  background-color: #202020;
  color: #aaa;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  color: greenyellow;
}

a:visited {
  color: green;
}
